[Desktop Entry]
Name=MangaUpdates
Name[ast]=MangaUpdates
Name[bg]=MangaUpdates
Name[bs]=MangaUpdates
Name[ca]=MangaUpdates
Name[ca@valencia]=MangaUpdates
Name[cs]=MangaUpdates
Name[da]=MangaUpdates
Name[de]=MangaUpdates
Name[el]=MangaUpdates
Name[en_GB]=MangaUpdates
Name[eo]=MangaUpdates
Name[es]=MangaUpdates
Name[et]=MangaUpdates
Name[fi]=MangaUpdates
Name[fr]=MangaUpdates
Name[ga]=MangaUpdates
Name[gl]=MangaUpdates
Name[hu]=MangaUpdates
Name[it]=MangaUpdates
Name[ja]=MangaUpdates
Name[kk]=MangaUpdates
Name[km]=MangaUpdates
Name[ko]=MangaUpdates
Name[lt]=MangaUpdates
Name[lv]=MangaUpdates
Name[nb]=MangaUpdates
Name[nds]=MangaUpdates
Name[nl]=MangaUpdates
Name[nn]=MangaUpdates
Name[pa]=MangaUpdates
Name[pl]=MangaUpdates
Name[pt]=MangaUpdates
Name[pt_BR]=MangaUpdates
Name[ro]=MangaUpdates
Name[ru]=MangaUpdates
Name[sk]=MangaUpdates
Name[sl]=MangaUpdates
Name[sq]=MangaUpdates
Name[sr]=MangaUpdates
Name[sr@ijekavian]=MangaUpdates
Name[sr@ijekavianlatin]=MangaUpdates
Name[sr@latin]=MangaUpdates
Name[sv]=MangaUpdates
Name[tr]=MangaUpdates
Name[ug]=MangaUpdates
Name[uk]=MangaUpdates
Name[x-test]=xxMangaUpdatesxx
Name[zh_CN]=MangaUpdates
Name[zh_TW]=MangaUpdates
Comment=what your app does in a few words
Comment[bs]=šta vaš program radi u nekoliko riječi
Comment[ca]=Què fa la vostra aplicació en poques paraules
Comment[ca@valencia]=Què fa la vostra aplicació en poques paraules
Comment[da]=nogle få ord om hvad din app gør
Comment[de]=Kurze Bescheibung, was Ihre Anwendung tut
Comment[el]=με λίγα λόγια,τι κάνει η εφαρμογή σας 
Comment[es]=lo que hace su aplicación, en pocas palabras
Comment[et]=Mõne sõnaga, mida rakendus teeb
Comment[fi]=ohjelmasi toiminta muutamalla sanalla
Comment[fr]=ce que fait votre application en quelques mots
Comment[gl]=o que fai o seu programa en poucas palabras
Comment[hu]=mit csinál az alkalmazása néhány szóban
Comment[it]=cosa fa la tua applicazione in poche parole
Comment[kk]=қолданбаңыз не істейді - бір-екі сөзде
Comment[ko]=프로그램이 하는 일에 대한 간단한 설명
Comment[nb]=hva programmet gjør, med noen få ord
Comment[nl]=wat uw app in een paar woorden doet
Comment[pl]=w kilku słowach opis co robi twój program
Comment[pt]=o que a sua aplicação faz, em poucas palavras
Comment[pt_BR]=breve descrição do que o seu aplicativo faz
Comment[ru]=Краткое описание вашего приложений
Comment[sk]=čo vaša aplikácia robí v niekoľkých slovách
Comment[sl]=kaj vaš program dela, nekaj besed
Comment[sr]=Неколико речи о намени програма
Comment[sr@ijekavian]=Неколико речи о намени програма
Comment[sr@ijekavianlatin]=Nekoliko reči o nameni programa
Comment[sr@latin]=Nekoliko reči o nameni programa
Comment[sv]=vad programmet gör med några få ord
Comment[tr]=uygulamanızın birkaç kelime ile ne yaptığı
Comment[uk]=призначення вашої програми у декількох словах
Comment[x-test]=xxwhat your app does in a few wordsxx
Comment[zh_TW]=簡單說明您的程式做什麼事情

Icon=applications-system
Type=Service
ServiceTypes=Plasma/Applet


X-KDE-Library=plasma_applet_mangaupdates
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=<%{EMAIL}>
X-KDE-PluginInfo-Name=mangaupdates
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities //change as needed
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,300
